
/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}

/* =============================================================================
  HEADER
============================================================================= */

header {
  display: block;
  background-color: #86acd4;
  height: 100px;
  width: 100%;
  text-align: center;
}

.headerImg {
  display: inline;
  position: relative;
  height: 100%;
}

/* =============================================================================
  CONTENT
============================================================================= */

.content {
  position: relative;
  /*top: 30%;*/
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.nav {
  margin-bottom: 24px;
  z-index: -20;
}

.hide {
  color: white;
}

a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  padding: 20px;
}


/* =============================================================================
  VIEW ELEMENTS
============================================================================= */

.loginForm {
  diplay: inline;
  position: relative;
  margin: 226px, auto, 0, auto;
}

#logo {
  display: inline-block;
  position: relative;
  margin: -55px, auto, 0, auto;
  width: 40%;
  z-index: 10;
}

.video {
  position: fixed;
  top: 75%; left: 50%;
  z-index: 1;
  top: 0%; left: 0%;
  /*opacity: 0.5;*/
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*transform: translate(-50%, -25%);*/
}


.alert{
  width:857px;
  color: red;
  text-align: center;
}


.close{
  width: 23px;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  text-align: center;
  float:right;
  border-width: 1px;
  margin-right: 5px;
  margin-top: 5px;
  }

  .w3-modal-content{
    text-align: right;
    border-radius: 15px;
    height: 106px;
  }

#warning{
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 2px 5px #666;
  }

/* =============================================================================
  FOOTER
============================================================================= */

footer {
  background-color: #86acd4;
  top: 96%;
  height: 40px;
  width: 100%;
  /*margin-bottom: 0px;*/
  position: fixed;
  display: block;
  text-align: center;
  z-index: 2;

}

#disclaimer {
  color: white;
  padding: 5px;
  /*text-align: center;*/
}
