
/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}

/* =============================================================================
  HEADER
============================================================================= */

header {
  display: block;
  background-color: #86acd4;
  height: 100px;
  width: 100%;
  text-align: center;
}

.headerImg {
  display: inline;
  position: relative;
  height: 100%;
}

/* =============================================================================
  CONTENT
============================================================================= */

.content {
  position: relative;
  /*top: 30%;*/
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.nav {
  margin-bottom: 24px;
}

a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  padding: 20px;
}

#logo {
  top: 50%;
  width: 40%;
  height: 40%;
  margin-bottom: 24px;
}

/* =============================================================================
  VIDEO
============================================================================= */

.video {
  position: fixed;
  top: 75%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -25%);
}

/* =============================================================================
  FOOTER
============================================================================= */

footer {
  background-color: #86acd4;
  height: 30px;
  width: 100%;
  /*margin-bottom: 0px;*/
  position: fixed;
  display: block;
  text-align: center;
  z-index: 2;
}

#disclaimer {
  color: white;
  padding: 5px;
  /*text-align: center;*/
}
