
/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}

/* =============================================================================
  HEADER
============================================================================= */

header {
  display: block;
  background-color: #86acd4;
  height: 100px;
  width: 100%;
  text-align: center;
}

.headerImg {
  display: inline;
  position: relative;
  height: 100%;
}

/* =============================================================================
  CONTENT
============================================================================= */

.content {
  position: relative;
  /*top: 30%;*/
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.nav {
  margin-bottom: 24px;
  z-index: -20;
}

.hide {
  color: white;
}

a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  padding: 20px;
}


/* =============================================================================
  VIEW ELEMENTS
============================================================================= */

.loginForm {
  diplay: inline;
  position: relative;
  margin: 226px, auto, 0, auto;
}

#logo {
  display: inline-block;
  position: relative;
  margin: -55px, auto, 0, auto;
  width: 40%;
  z-index: 10;
}

.video {
  position: fixed;
  top: 75%; left: 50%;
  z-index: 1;
  top: 0%; left: 0%;
  /*opacity: 0.5;*/
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*transform: translate(-50%, -25%);*/
}
/*.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}*/
/* =============================================================================
  FOOTER
============================================================================= */

footer {
  background-color: #86acd4;
  top: 95%;
  height: 30px;
  width: 100%;
  /*margin-bottom: 0px;*/
  position: fixed;
  display: block;
  text-align: center;
  z-index: 2;

}

#disclaimer {
  color: white;
  padding: 5px;
  /*text-align: center;*/
}
