<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HTML5</title>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
</script>
<![endif]-->
<style>

body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

</style>
</head>
<body>

<header>
<h2>Midminder</h2>
</header>
<section>

<article>
<h2>John Doe</h2>
</article>
<article>
<p>Weight :175lb Age:85</p>
<input type "text" placeholder="medicine">
<input type "text" placeholder="Dose">
<input type="number" placeholder="time(optional)"><br>
<a href="content.html"><button>Add</button></a>
</article>
</section>

<footer>
<p>Demo Project</p>
</footer>

</body>
</html>
