<video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" poster="assets/video_screenshot2.png">
  <source src="assets/Pills2.mp4" type="video/mp4" />
  <source src="assets/Pills2.ogv" type="video/ogg" />
  <source src="assets/Pills2.webm" type="video/webm" />
</video>

<section class="loginForm">
    <input type "text" placeholder="User Name"><br>
    <input type "text" placeholder="Password"><br>
    <a href="lovedOnes.html"><button>Login</button></a>
    <a href="registration.html"><button>New User</button></a>
</section>

<img id="logo" src="assets/MedMinderLogoOutline.png" alt="Med Minder Logo">
