<header>
<h1>Midminder</h1>
</header>

<section>

<article>
<h2>Patient details</h2>
</article>
<article>
  <table>
    <tr>
      <th>Delete</th>
      <th>Name</th>
      <th>Weight(lb)</th>
      <th>Age</th>
      <th>Edit</th>
    </tr>
    <tr ng-repeat ="person in personList">
      <td><button type="button" name="delete" ng-click="removeLovedOne(person.id)">X</button></td>
      <td>{{person.name}}</td>
      <td>{{person.weight}}</td>
      <td>{{person.age}}</td>

      <td>  <input type "text" placeholder="Loved One's Name" ng-model="newObject.name"></td>
      <td>  <input type "text" placeholder="Weight" ng-model="newObject.weight"></td>
      <td>  <input type "number" placeholder="Age" ng-model="newObject.age"></td>
      <td><button type="button" name="edit" ng-click="alterLovedOne(newObject, person.id)">Edit</button></td>
    </tr>
</table>


  <input type "text" placeholder="Loved One's Name" ng-model="object.name">
  <input type "text" placeholder="Weight" ng-model="object.weight">
  <input type="number" placeholder="Age" ng-model="object.age"><br>
  <button ng-click="addLovedOne(object)">Add New Loved One</button>

</article>
</section>
<h1>{{practice}}</h1>
