<header>
<h1>Midminder</h1>
</header>

<section>

<article>
<h2>Patient details</h2>
</article>
<article>
  <table>
    <tr>
      <th>Name</th>
      <th>Weight(lb)</th>
      <th>Age</th>
    </tr>
    <tr ng-repeat ="person in personList">
      <td>{{person.name}}</td>
      <td>{{person.weight}}</td>
      <td>{{person.dob}}</td>
    </tr>
</table>


  <input type "text" placeholder="Loved Ones Name" ng-model="">
  <input type "text" placeholder="Weight">
  <input type="date" placeholder="D.O.B"><br>
  <a href="main.html"><button>Add New User</button></a>
</article>
</section>
<h1>{{practice}}</h1>
