
<header>
<h1>Midminder</h1>
</header>

<section>

<article>
<h2>Patient details</h2>
</article>
<article>
  <table>
    <tr>
    <th>Name</th>
    <th>Weight(lb)</th>
    <th>Age</th>
  </tr>
    <tr>
    <td><a href="content.html">John Doe</a></td>
    <td>175</td>
    <td>85</td>
  </tr>
  <tr>
    <td><a>Jane Doe</a></td>
    <td>130</td>
    <td>82</td>
  </tr>
  <tr>
    <td><a>Johny Doe</a></td>
    <td>50</td>
    <td>6</td>
  </tr>
</table>

  <input type "text" placeholder="Patient Name">
  <input type "text" placeholder="Weight">
  <input type="date" placeholder="D.O.B"><br>
  <a href="main.html"><button>Add New User</button></a>
</article>
</section>
<h1>{{practice}}</h1>
