<section class="tablePosition">

<article>
  <h2>Medication List</h2>
  <div ng-model="message" ng-show="showMessage" class="message fadein fadeout">{{message}}</div>
  <table class="w3-table">
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Dosage</th>
      <th>Time</th>
      <th>Rx Number</th>

    </tr>
    <tr ng-repeat ="med in medicine">
      <td><button type="button" name="delete" ng-click="deleteMed(med.id)">X</button></td>
      <td>{{med.name}}</td>
      <td>{{med.dosage}}</td>
      <td>{{med.time}}</td>
      <td>{{med.rxnumber}}</td>


      <td>  <input type "text" placeholder="Medicine Name" ng-model="newMed.name"></td>
      <td>  <input type "text" placeholder="Dosage" ng-model="newMed.dosage"></td>
      <td>  <input type "number" placeholder="Time" ng-model="newMed.time"></td>
      <td><button type="button" name="edit" ng-click="updateMed(newMed,med.id)">Edit</button></td>
    </tr>
</table>
<input type "text" placeholder="medicine" ng-model="med.name">
<input type "number" placeholder="Dose" ng-model="med.dosage">
<input type="text" placeholder=" ex.04:00" ng-model="med.time"><br>
<!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button">Add</button> -->
<button ng-click="addMed(med)">Add</button>


 <!-- <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <span class="close" onclick="document.getElementById('id01').style.display='none'" ng-click="addMed(med)" class="w3-button w3-display-topright">&times;</span>
        <p class="alert"><span id="warning">WARNING:<br></span> The drug you are about to add may have some potential interactions with other drugs on your list. Always check with your doctor before starting a new medication.</p>
    </div>
  </div> -->


</article>
</section>
