<section class="tablePosition">


    <article>


        <div id="warn" ng-model="message" ng-show="showMessage" class="message fadein fadeout">
            <p id="bigWarn">WARNING:
                <p>{{message}}</p>
        </div>
        <div class="table-view">
          <h2> {{personsPage.name}}'s Med List</h2>
            <ul class="list-group header">
                <li class="list-group-item">
                    <span><strong>Name</strong></span>
                    <span><strong>Dosage<br><em>(mg)</em></strong></span>
                    <span><strong>Time</strong></span>
                    <span><strong>Rx Number</strong></span>
                </li>
            </ul>

            <ul class="list-group" ng-repeat="med in medicine">
                <li class="list-group-item">
                  <button type="button" name="delete" class="li-delete" ng-click="deleteMed(med.id, personsPage.personid)">
                    <span class="glyphicon glyphicon-remove">
                  </button>
                  <span>{{med.name}}</span>
                  <span>{{med.dosage}}</span>
                  <span>{{med.time}}</span>
                  <span>{{med.rxnumber}}</span>
                </li>
            </ul>
        </div>


        <table>
            <td> <input type "text" placeholder="Medicine Name" ng-model="newMed.name"></td>
            <td> <input type "number" placeholder="Dosage" ng-model="newMed.dosage"></td>
            <td> <input type "text" placeholder="Time" ng-model="newMed.time"></td>
            <td><button type="button" name="edit" ng-click="updateMed(newMed, med.id, personsPage.personid)">Edit</button></td>
            </tr>
        </table>
        <div class="addDiv">
          <input type="text" placeholder="Medicine" name="medicine" value="" ng-model="med.name" ng-keyup="complete(med.name)" class="form-control">
          <ul ng-model="hidethis" ng-hide="hidethis" class="list-group listView">
              <li ng-repeat="medData in filterMedicine" ng-click="fillTextBox(medData)" class="list-group-item"> {{ medData }}</li>
          </ul>
          <input type "number" placeholder="Dosage" ng-model="med.dosage" class="form-control">
          <input type="text" placeholder="04:00" ng-model="med.time" class="form-control"><br>
          <button type="button" ng-click="addMed(med, personsPage.personid)" id="addButton">Add</button>
        </div>



    </article>

</section>
