<section>

<article>
<h2>Rgister Now</h2>
  </article>
<article>
  <input type "text" placeholder="First Name" ng-model="object.firstname">
  <input type "text" placeholder="Last Name" ng-model="object.lastname"><br>
  <input type "text" placeholder="User Name" ng-model="object.username">
   <input type "text" placeholder="Password" ng-model="object.password"><br>
  <input type="email" placeholder="Email" ng-model="object.email"><br>
  <button ng-click="addUser(object)">Continue</button>
</article>
</section>
